h2
{
    color:#FF3333;
    font-family: Tahoma;
    font-size: 25px;
    font-weight: bold;
}

h4
{
    color:#0066CC;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
}

body{
  background-color:#D8DEF5;
}

