<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="EFConnectionString" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Andrew\Documents\Visual Studio 2010\Projects\MyBlog\MBDatabaseModel\Database.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IModelService_IModelService" closeTimeout="00:01:00"
          openTimeout="00:20:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="52428800" maxReceivedMessageSize="52428800"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="52428800"
            maxArrayLength="52428800" maxBytesPerRead="52428800" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:20:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/MBServiceLibrary/ModelService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IModelService_IModelService"
        contract="ServiceReference.IModelService" name="WSHttpBinding_IModelService_IModelService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  
  <log4net debug="true">
    <appender name="ERRORFileAppender" type="   log4net.Appender.RollingFileAppender">
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="C:\Users\Andrew\Documents\Visual Studio 2010\Projects\MyBlog\MyBlog\Logs\errors.txt" />
      <appendtofile value="true" />
      <rollingstyle value="Size" />
      <maxsizerollbackups value="10" />
      <maximumfilesize value="200MB" />
      <staticlogfilename value="true" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG"/>
        <acceptOnMatch value="true"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p [%d]  %m%n"/>
      </layout>
      <Encoding value="UTF-16"/>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ERRORFileAppender" />
      <appender-ref ref="DEBUGFileAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>