<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MBConnectionString" connectionString="metadata=C:/Users/Andrew/Documents/Visual Studio 2010/Projects/MyBlog/DataAccessLibrary/obj/Debug/MBModel.csdl|C:/Users/Andrew/Documents/Visual Studio 2010/Projects/MyBlog/DataAccessLibrary/obj/Debug/MBModel.ssdl|C:/Users/Andrew/Documents/Visual Studio 2010/Projects/MyBlog/DataAccessLibrary/obj/Debug/MBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Andrew\Documents\Visual Studio 2010\Projects\MyBlog\MBDatabaseModel\Database.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding  name ="basicHttpBinding_IModelService" transferMode="Streamed"
                  closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text"
                  textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="1048576"/>

          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message  algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/MBServiceLibrary/ModelService/"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IModelService"
        contract="ServiceReference.IModelService" name="basicHttpBinding_IModelService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>