@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<table>
    <tr>
        <td>@Html.ActionLink("Genres", "Genres", "Admin")</td>
        <td>@Html.ActionLink("Add book", "CreateBook", "Admin")</td>
    </tr>
</table>
